<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
  <mat-icon>input</mat-icon>
  <span class ="mat-button">Sign-In</span>
  </a>
  
  <a mat-list-item routerLink="/home" (click)="onToggleClose()">
    <mat-icon>account_box</mat-icon>
    <span class ="mat-button">Sign-up</span>
    </a>
    
  <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
    <mat-icon>android</mat-icon>
    <span class ="mat-button">Administracion</span>
    </a>

    <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
      <mat-icon>close</mat-icon>
      <span class ="mat-button">cerrar</span>
      </a>
</mat-nav-list>