<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
  <mat-icon>input</mat-icon>
  <span>Sign-In</span>
  </a>
  
  <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
    <mat-icon>account_box</mat-icon>
    <span>Sign-up</span>
    </a>
    
  <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
    <mat-icon>android</mat-icon>
    <span>Administracion</span>
    </a>

    <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
      <mat-icon>close</mat-icon>
      <span>cerrar</span>
      </a>
</mat-nav-list>