
@import '~@angular/material/theming';
    @include mat-core();

    
$tema-primario: (
    50 : #fdf5ea,
    100 : #fbe6ca,
    200 : #f8d6a7,
    300 : #f5c683,
    400 : #f2b969,
    500 : #f0ad4e,
    600 : #eea647,
    700 : #ec9c3d,
    800 : #e99335,
    900 : #e58325,
    A100 : #ffffff,
    A200 : #fff5ec,
    A400 : #ffdab9,
    A700 : #ffcca0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  );

  $tema-accent2: (
    50 : #f3f3f3,
    100 : #e2e2e2,
    200 : #cfcfcf,
    300 : #bbbbbb,
    400 : #adadad,
    500 : #9e9e9e,
    600 : #969696,
    700 : #8c8c8c,
    800 : #828282,
    900 : #707070,
    A100 : #fef3f3,
    A200 : #f9c5c5,
    A400 : #ff8b8b,
    A700 : #ff7272,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  );
















        $tema-primario: mat-palette($mat-amber, 600);
        $tema-accent2:  mat-palette($mat-gray, 500,400,700);
        $tema-warn:    mat-palette($mat-red);
        $tema: mat-light-theme($tema-primario, $tema-accent2, $tema-warn);



@import './app/navigation/navtabs/navtabs.components.theme.scss';

@include angular-material-theme($tema);
@include navtabs-components-theme($tema);

.navtabs-container{
    background-color: mat-color($tema-primario);
}

////////////////////////////////////////////////////////////@include


$tema-typografia: mat-typography-config(
  $font-family:   'Rubik, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(94.54px, 0px, 400),
  $title:         mat-typography-level(61px, 0px, 500),
  $subheading-2:  mat-typography-level(48.77px, 0.25px, 400),
  $subheading-1:  mat-typography-level(34.54px, 0.25px, 400),
  $body-2:        mat-typography-level(14.22px, 0.25px, 500),
  $body-1:        mat-typography-level(16.25px, 0.5px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14.22px, 1.25px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
) ;

@include mat-base-typography($tema-typografia);
@include mat-checkbox-typography($tema-typografia);
@include angular-material-typography($tema-typografia);
@include mat-core($tema-typografia);


    .mat-list-option:hover, 
    .mat-list-option.mat-list-item-focus,
    .mat-nav-list .mat-list-item:hover, 
    .mat-nav-list .mat-list-item.mat-list-item-focus{
        background-color: mat-color($tema-primario,300);
        color: mat-color($tema-primario,900);
    }